MAIN_DOMAIN=example.com

RAID_ROOT=/sharedfolders/raid
RAID=/sharedfolders/raid/docker

NORAID_ROOT=/sharedfolders/unprotected
NORAID=/sharedfolders/unprotected/docker

PORT_TRANSMISSION_OC=13000
PORT_TRANSMISSION_A1=13001