SECRETS_LOADED=1

AUTHELIA_JWT_SECRET=
AUTHELIA_SESSION_SECRET=

PORTAINER_AGENT_SECRET=

MLBOT_TWITTER_CONSUMER_KEY=
MLBOT_TWITTER_CONSUMER_SECRET=
MLBOT_TWITTER_ACCESS_TOKEN_KEY=
MLBOT_TWITTER_ACCESS_TOKEN_SECRET=
MLBOT_TELEGRAM_KEY=
MLBOT_TELEGRAM_DESTINATION=@channel1,@channel2

INFLUXDB_ADMIN_PASSWORD=
INFLUXDB_TELEGRAF_PASSWORD=
